
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #14141f;
            color: #ffffff;
        }

        header {
            background-color: #007bff;
            color: #fff;
            text-align: center;
            padding: 20px 0;
        }

        .container {
            max-width: 800px;
            margin: 20px auto;
            padding: 0 20px;
        }

        h1,
        h2 {
            margin-top: 0;
        }

        .project {
            background-color: #fff;
            padding: 20px;
            margin-bottom: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	    color: #333;
        }

        .contact-info {
            margin-top: 30px;
            text-align: center;
        }

        a {
            color: #e699ff;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        /* Add smooth scrolling behavior */
        .navbar a {
            cursor: pointer;
        }

        .navbar a:hover {
            color:#9966ff;
        }

    